<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>登録画面</title>

	<script type="text/javascript" src="/static/js/login.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>

<body>
	<div style="text-align: center">
		<h1>おはようございます!</h1>
		<form name="loginForm" action="/signin" method="POST" onsubmit="return check()">
			<div>
				ユーザーID:<input name="username" type="text"><br>
			</div>
			<br>
			<div>
				パスワード:<input name="password" type="password"><br>
			</div>
			<p>
				<input type="submit" class="button" value="登録">
			</p>
		</form>
	</div>

</body>

</html>