<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>購入履歴</title>
	<script type="text/javascript" src="/static/js/login.js"></script>
	<link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
	<table border="1" style="border-collapse:collapse;background-color:white;">
		<thead style="background: yellow;">
			<tr>
				<td>お客様名前</td>
				<td>産品名前</td>
				<td>数量</td>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${order_list.size()} eq 0">
				<td colspan="5">購入情報が存在しません。</td>
			</tr>
			<tr th:each="order : ${order_list}">
				<td th:text="${order.user.username}"></td>
				<td th:text="${order.product.productName}"></td>
				<td th:text="${order.quantity}"></td>
			</tr>
		</tbody>
	</table>
	<div>
		<h4>Email転送:</h4>
		<form method="Post" action="/order/openEmail">
			<input type="submit" class="button" value="メール送信画面">
		</form>
		</br>
		<h4>入金残高:</h4>
		<form method="Post" action="/batch/zandaka.html">
			<input type="submit" class="button" value="残高画面">
		</form>
	</div>

</body>

</html>